body {
    font-family: 'Kanit', sans-serif;
}

#nav-search>.form-inline>.form-control {
    width: 85% !important;
}

#nav-search>.form-inline {
    position: relative;
    top: 40%;
}

#most-text {
    position: relative;
    top: 48%;
}

.navbar {
    background-color: #1a8cff !important;
    border-radius: 4px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.nav-link {
    color: white !important;
    font-size: 18px;
    margin-right: 20px;
}

.col-nav {
    margin-left: 15px;
    margin-right: 15px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.login{
    margin-top: 50px; 
    margin-left: 10%;
}

.register{
    margin-top: 50px;
}

.register>input {
    margin: 10px 10px;
    width: 60%;
}

.login>input{
    margin: 10px 10px;
    width: 50%;
}
marquee{
    margin-left: 15px;
    color: #E95B70;
}

#logo{
    margin-left: 15px; 
}

#Baby-Chilli{
    margin-top: 30px; 
}

.view{
    margin-left: 15px;
    margin-right: 15px;
}