body {
    font-family: 'Athiti', sans-serif;
}

#nav-search>.form-inline>.form-control {
    width: 85% !important;
}

#nav-search>.form-inline {
    position: relative;
    top: 40%;
}

#most-text {
    position: relative;
    top: 48%;
}

.navbar {
    border-radius: 4px;
    margin-top: 15px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-link {
    color: white !important;
    font-size: 18px;
    margin-right: 20px;
}

.col-nav {
    margin-left: 15px;
    margin-right: 15px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#logo {
    margin-left: 15px;
}

#Baby-Chilli {
    margin-top: 30px;
}

.view {
    margin: 20px 15px 15px 15px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

#shortcut-menu,
#carousel {
    padding-right: 0px;
}

#shortcut-menu button {
    text-align: left;
    width: 100%;
    font-size: 18px;
    border: 0.40px solid #ecf0f1;
    border-radius: 3px;
}

.btn-outline-secondary:disabled {
    color: #000000;
}

#animal-icon {
    width: 21px;
    height: auto;
}

#btn-login,
#btn-regis {
    text-align: center;
    vertical-align: center;
    width: 200px;
}

.register>input {
    width: 60%;
    margin-bottom: 10px;
}

.login>input {
    width: 50%;
    margin-bottom: 10px;
}
.login{
    padding-right: 0px;
    border-right: 1px solid #585858;
}

#edit-account > input{
    width: 500px;
    margin-bottom: 15px;
}


